
<div *ngIf="remBtnClicked==false" class="container">
    <h3>Medication Reminders</h3>
    <table>
        <th>Check</th>
        <th>Medication</th>
        <th>Type</th>
        <th>Dosage</th>
        <tr *ngFor="let med of medList; let i=index">
            <input type="checkbox" name="medCheck" #medCheck (click)="medDone(i,medCheck)">
            <td> {{ med.medName }}</td>
            <td>{{ med.medDeliveryMethod }}</td>
            <td>{{ med.dose }} {{med.dosageUnits}}</td>
        </tr>
    </table>

    <form
    [formGroup]="medForm"
    (ngSubmit)="handleSubmit()">
    <!-- ngSubmit will call the handleSubmit() method when the addbtn is clicked (when the form is submitted) -->
        *Medication Name: <br>
        <input type="text" formControlName="medName" />
        <br>*Delivery Method: <br>
        <input type="text" formControlName="deliveryMethod" />
        <br>*Dosage: <br>
        <input type="text" formControlName="dose" />
        <br>*Dosage Units: <br>
        <input type="text" formControlName="dosageUnits" /><br>
        <button class="addbtn" type="submit">Add Medication</button>
    </form>

    <!-- The remove feature is defined as an input of type "button". "value" means the name of the button -->
    <input class="deletebtn" type="button" value="Remove Medication" (click)="removeBtnClicked()">
</div>

<div class="containerRem" *ngIf="remBtnClicked">
    <h3>Select Medications to Remove</h3>
    <table>
        <th>Medication</th>
        <tr *ngFor="let med of medList; let i=index">
            <td> {{ med.medName }} <button class="deletebtn" (click)="removeMed(med.id)">Remove</button></td>
        </tr>
    </table>
    <button class="backBtn" (click)="backBtnClicked()">Go Back to Reminders</button>
</div>