
<div *ngIf="isEdit==false" class="container">
    <h3>Medication Reminders</h3>
    <table>
        <!-- first header will be blank for the checkboxes, make it cleaner -->
        <th> </th>
        <th>Medication</th>
        <th>Type</th>
        <th>Dosage</th>
        <tr *ngFor="let med of medList; let i=index" style="margin-bottom: 10px;">
            <input type="checkbox" name="medCheck" #medCheck (click)="medDone(i,medCheck)">
            <td> {{ med.medName }}</td>
            <td>{{ med.medDeliveryMethod }}</td>
            <td>{{ med.dose }} {{med.dosageUnits}}</td>
        </tr>
    </table>

    <!-- Adding a medication to list -->
    <form
    [formGroup]="medForm"
    (ngSubmit)="handleSubmit()">
    <!-- ngSubmit will call the handleSubmit() method when the addbtn is clicked (when the form is submitted) -->
        *Medication Name: <br>
        <input type="text" formControlName="medName" />
        <br>*Delivery Method: <br>
        <input type="text" formControlName="deliveryMethod" />
        <br>*Dosage: <br>
        <input type="text" formControlName="dose" />
        <br>*Dosage Units: <br>
        <input type="text" formControlName="dosageUnits" /><br>
        <!-- Future: enable button once all fields are filled -->
        <button class="btn btn-success" style="margin-top: 15px;" type="submit">Add Medication</button>
        <!-- The remove feature is defined as an input of type "button". "value" means the name of the button -->
    <input class="btn btn-secondary" style="float: right; margin-top: 15px;" type="button" value="Edit Medication" (click)="editBtnClicked()">
    </form>


</div>

<!-- Go to edit-meds component when this button is clicked -->
<div class="container" *ngIf="isEdit">

    <app-edit-meds (goBack)="goBackHandler($event)"></app-edit-meds>

</div>