
<div *ngIf="remBtnClicked==false" class="container">
    <h3>Medication Reminders</h3>
    <table>
        <th>Check</th>
        <th>Medication</th>
        <th>Type</th>
        <th>Dosage</th>
        <tr *ngFor="let med of medList; let i=index">
            <input type="checkbox" name="medCheck" #medCheck>
            <td> {{ med.medName }}</td>
            <td>{{ med.medDeliveryMethod }}</td>
            <td>{{ med.dose }} {{med.dosageUnits}}</td>
        </tr>
    </table>

    <form id="enterMed">
        Medication Name: <br>
        <input type="text" name="medName" #medName>
        <br> Delivery Method (ex: pill, inhaler, injection, etc.): <br>
        <input type="text" name="medDeliveryMethod" #medDeliveryMethod>
        <br> Dosage of Medication: <br>
        <input type="text" name="dose" #dose>
        <br> Dosage Units: <br>
        <input type="text" name="dosageUnits" #dosageUnits>
    </form>

    <!-- once button is clicked, then the addMed method should receive the user entered values-->
    <button class='addbtn' type="button" form="enterMed"
        (click)="addMed(medName.value, medDeliveryMethod.value, dose.value, dosageUnits.value)">Add Medication</button>

    <input class="deletebtn" type="button" value="Remove Medication" (click)="removeBtnClicked()">
</div>

<div class="containerRem" *ngIf="remBtnClicked">
    <h3>Select Medications to Remove</h3>
    <table>
        <th>Medication</th>
        <tr *ngFor="let med of medList; let i=index">
            <td> {{ med.medName }} <button (click)="removeMed(med.medName)">Remove</button></td>
        </tr>
    </table>
    <button class="backBtn" (click)="backBtnClicked()">Go Back to Reminders</button>
</div>