table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}

.container {
    outline: auto;
    outline-style: groove;
    font-size: larger;
    padding-bottom: 3%;
}

.addbtn {
    background-color: aquamarine;
    margin-top: 15px; /*so that button isn't touching the field above it*/
}

.editbtn {
    /* color: red; */
    float: right;
}

.containerRem {
    outline: auto;
    outline-style: solid;
    font-size: larger;
    padding-bottom: 3%;
}
