table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}

.container {
    outline: auto;
    outline-style: dotted;
    font-size: larger;
    padding-bottom: 3%;
}

.addbtn {
    background-color: aquamarine;
}

.deletebtn {
    color: red;
    float: right;
}

.containerRem {
    outline: auto;
    outline-style: dotted;
    font-size: larger;
    padding-bottom: 3%;
}
